@use "../util/scss-variables" as *;

.asm-input {
  input {
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    color: var(--inputFontColor, $inputFontColor);
    background-color: #fff;
    outline: none;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;

    &:hover {
      border: var(--inputHoverBorder, $inputHoverBorder);
    }

    &:focus {
      border: var(--inputFocusBorder, $inputFocusBorder);
    }

    &:disabled {
      background: var(--inputDisabledBgColor, $inputDisabledBgColor);
    }

    &[type="color"] {
      padding: 0;
      border: none;
      width: 20px;
      height: 24px;
    }

    &[type="range"] {
      appearance: slider-horizontal;
    }
  }

  label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
  }
}
