.asm-heading {
  margin-top: var(--headingTopMargin, $headingTopMargin);
  margin-bottom: var(--headingBottomMargin, $headingBottomMargin);
  color: var(--headingFontColor, $headingFontColor);

  &.h1 {
    font-size: var(--h1FontSize, $h1FontSize);
  }

  &.h2 {
    font-size: var(--h2FontSize, $h2FontSize);
  }

  &.h3 {
    font-size: var(--h3FontSize, $h3FontSize);
  }

  &.h4 {
    font-size: var(--h4FontSize, $h4FontSize);
  }

  &.h5 {
    font-size: var(--h5FontSize, $h5FontSize);
  }

  &.h6 {
    font-size: var(--h6FontSize, $h6FontSize);
  }

  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }
}
