@use '../util/scss-variables' as *;

.asm-image-upload {
  input[type="file"] {
    color: var(--labelFontColor, $labelFontColor);

    &::file-selector-button {
      border: var(--primaryButtonBorder, $primaryButtonBorder);
      border-radius: var(--borderRadius, $borderRadius);
      padding: var(--buttonPadding, $buttonPadding);
      background: var(--primaryButtonBgColor, $primaryButtonBgColor);
      color: var(--primaryButtonFontColor, $primaryButtonFontColor);

      &:hover,
      &:focus {
        color: var(--primaryButtonHoverFontColor, $primaryButtonHoverFontColor);
        background: var(--primaryButtonHoverBgColor,
            $primaryButtonHoverBgColor );
        border: var(--primaryButtonHoverBorder, $primaryButtonHoverBorder);
      }
    }
  }
}
