@use '../util/scss-variables' as *;

.asm-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--modalOverlayBgColor, $modalOverlayBgColor);
  z-index: 9999;

  .asm-modal {
    position: relative;
    z-index: 1000;
    background: var(--modalBgColor, $modalBgColor);
    margin: 5vh 15vw;
    height: 90vh;
    border-radius: var(--modalBorderRadius, $modalBorderRadius);

    .asm-modal-content {
      padding: var(--modalPadding, $modalPadding);
      height: inherit;
    }

    .modal-close,
    .asm-modal-close-button {
      position: absolute;
      left: 20px;
      top: 20px;
      padding: 5px;
      border-radius: 5000px;
      background: var(--modalCloseButtonBgColor, $modalCloseButtonBgColor);
      border: var(--modalCloseButtonBorder, $modalCloseButtonBorder);
      color: var(--modalCloseButtonFontColor, $modalCloseButtonFontColor);

      &:hover,
      &:focus {
        background: var(--modalCloseButtonHoverBgColor,
            $modalCloseButtonHoverBgColor );
        color: var(--modalCloseButtonHoverFontColor,
            $modalCloseButtonHoverFontColor );
        border: var(--modalCloseButtonHoverBorder,
            $modalCloseButtonHoverBorder );
      }

      .asm-icon.small {
        color: black;
        height: 20px;
        width: 20px;
      }
    }
  }
}
