@use '../util/scss-variables' as *;

.asm-radio-button-group-fieldset {
  color: var(--labelFontColor, $labelFontColor);
  border: var(--inputBorder, $inputBorder);
  border-radius: var(--borderRadius, $borderRadius);
  padding: 5px;

  legend {
    padding: 0 5px;
  }

  .asm-radio-button-group {
    padding: 5px;
  }
}

.asm-radio-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  .asm-label {
    position: relative;
    top: 0px;
    left: 0px;
  }

  input {
    padding: 0;
    border: none;
    width: 20px;
    height: 24px;
    appearance: radio;
    margin-right: 5px;

    &:disabled {
      background: var(--inputDisabledBgColor, $inputDisabledBgColor);
    }
  }
}
