.asm-flex {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 100%;

  &.asm-flex--inline {
    display: inline-flex;
  }

  &.asm-flex--wrap {
    flex-wrap: wrap;
  }

  &.asm-flex--row {
    flex-direction: row;

    .asm-flex__column {
      &:first-child:not(:only-child),
      + .flex__column:not(:last-child) {
        padding-right: var(--unit);
      }
    }
  }

  &.asm-flex--row-reverse {
    flex-direction: row-reverse;

    .asm-flex__column {
      &:first-child:not(:only-child),
      + .flex__column:not(:last-child) {
        padding-left: var(--unit);
      }
    }
  }

  &.asm-flex--column {
    flex-direction: column;

    &.asm-flex--reverse {
      flex-direction: column-reverse;
    }
  }

  &.asm-flex--align-center {
    align-items: center;
  }

  &.asm-flex--align-end,
  &.asm-flex--align-flex-end {
    align-items: flex-end;
  }

  &.asm-flex--justify-center {
    justify-content: center;
  }

  &.asm-flex--justify-end,
  &.asm-flex--justify-flex-end {
    justify-content: flex-end;
  }

  &.asm-flex--justify-space-between {
    justify-content: space-between;
  }

  &.asm-flex--justify-space-around {
    justify-content: space-around;
  }

  // flex__column styles are inlined because of their dynamic nature
}
