@use '../util/scss-variables' as *;

.asm-alert {
  width: 100%;
  padding: var(--alertPadding, $alertPadding);
  border-radius: var(--borderRadius, $borderRadius);
  margin: 0 auto;
  text-align: center;


  &.warn {
    background: var(--warningBgColor, $warningBgColor);
    color: var(--warningFontColor, $warningFontColor);
  }

  &.error {
    background: var(--errorBgColor, $errorBgColor);
    color: var(--errorFontColor, $errorFontColor);
  }

  &.success {
    background: var(--successBgColor, $successBgColor);
    color: var(--successFontColor, $successFontColor);
  }

  &.info {
    background: var(--infoBgColor, $infoFontColor);
    color: var(--infoFontColor, $infoFontColor);
  }
}
